* {
    box-sizing: border-box;

}
html,
body {
    background-color: #ddd;
}

.form-container {
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 5px;
}

.title-container {
    margin-top: 40px;
    margin-bottom: 40px;
}

.buttons-container {
    display: flex;
    margin-top: 30px;
}

.custom-submit {
    flex: 1;
}

@media (min-width: 768px) {
    .custom-submit {
        flex: none;
    }
}